.header {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  text-align: center;
}

.smallButton {
  font-size: 0.9rem;
  padding: 0.25em 1em;
  min-width: unset;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 20px;
} 